@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #eee8e4 !important;
}
.contact-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contact-img-view{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}